[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pydantic = "~=1.7.3"
fastapi = "~=0.63.0"

[dev-packages]
black = "*"
coverage = "*"
coveralls = "*"
python-dotenv = "*"
flake8 = "*"
flake8-annotations = "*"
flake8-bandit = "*"
flake8-bugbear =  "*"
flake8-docstrings = "*"
flake8-import-order =  "*"
flake8-string-format = "*"
flake8-tidy-imports = "*"
flake8-todo = "*"
pep8-naming = "*"
pre-commit = "*"
pytest = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
